*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

/*NavBar responsive*/

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  

  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

/*Imagem responsive*/
.responsive {
    width: 60%;
    height: auto;
}
/*Index CSS*/
.empr{
  text-align: center;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.empr h1{
  text-align: center;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.sobre{
    text-align: justify;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sobre h1{
    text-align: center;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.cont{
    text-align: center;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.imuni{
    text-align: justify;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imuni h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.des1{
  color: rgb(255, 255, 255);
}
.des2{
  color: rgb(255, 255, 255);
}
.des3{
  color: rgb(0, 0, 0);
}
.carousel {
  padding:10px 50px 0px 50px;
}
/*cadastre CSS*/
div#corpo-form{
    width: 420px;
    margin: 150px auto 0px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    display: block;
    width: 400px;
    height: 55px;
}