*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    padding: 15px;
    font-family:fantasy;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-color:rgb(12, 15, 212);
  
}
.navbar a{
    font-family: fantasy;
    text-decoration: none;
    padding: 10px ;
    text-align: left;
    color: #fff;
    size-adjust: normal;
}
.sobre{
    text-align: center;
    padding: 30px 10px 30px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.imuni{
    text-align: center;
    padding: 30px 10px 30px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logi{
    text-align: center;
    padding: 30px 10px 30px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}